---
---

<div class="sl-banner" data-pagefind-ignore>
  🚧 These docs are a work in progress — the information here may not be complete or accurate.
</div>

<style>
  @layer starlight.core {
    .sl-banner {
      padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
      background-color: var(--sl-color-bg-accent);
      color: var(--sl-color-text-invert);
      line-height: var(--sl-line-height-headings);
      text-align: center;
      text-wrap: balance;
      box-shadow: var(--sl-shadow-sm);
    }
  }
</style>
