---
import { Icon } from 'astro-icon/components';

interface Props {
	icon: string;
	title: string;
	href: string;
	desc: string;
}

const { icon, title, href, desc } = Astro.props;
---

<a href={href} class="home-card">
	<span class="home-card-icon">
		<Icon name={icon} width={20} height={20} />
	</span>
	<span class="home-card-title">{title}</span>
	<span class="home-card-desc">{desc}</span>
</a>
